
.modal-screen{
    height: 100vh;
    width: 100%;
    background-color: #000000b3;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9998;

    &.hide{
        display: none;
    }

    .modal-container{
        width: 50%;
        height: fit-content;
        background-color: #fff;
        border-radius: 5px;
        text-align: center;
        align-items: center;
        justify-content: space-around;
        z-index: 9999;

        .modal-header{
            width: 100%;
            position: relative;
            text-align: center;
            padding: 20px;
            margin-bottom: 20px;
            p{
                flex: 1;
            }
            button{
                border:none;
                outline: none;
                background-color: transparent;
                position: absolute;
                top: 37%;
                right: 10px;
            }

        }
        .modal-content{
            
        }

    }
}
.login-form{
    width: 50%;
        height: fit-content;
        padding: 20px;
        margin: 0 auto;
}


// .login-form form {
//     width: 50%;
//     height: fit-content;
//     background-color: #fff;
//     border-radius: 5px;
//     padding: 20px;
//     text-align: center;
//     align-items: center;
//     justify-content: space-around;
// }

// .review-modal input, .review-modal select, .review-modal textarea {
//     padding: 10px;
//     width: 50%;
//     margin: 10px;
//     border-radius: 5px;
//     border: 1px solid rgb(231, 231, 231);
//     outline: none;
// }


// .review-modal .close-modal{
//     position: absolute;
//     top: 0;
//     right: 0;
//     color: gray;
//     padding: 5px 8px;
//     border-color: #80808029;
//     background-color: #e5e5e5;
//     box-shadow: 0px 3px 3px #00000061;
// }

//     .close-modal:hover {
//         background-color: #b4b4b4;
//         color: white;
//         box-shadow: 1px 9px 7px 0px #c5bdbd;
//     }