.main-container {
    height: fit-content;
    display: grid;
    grid-template-columns: 20px 1fr 20px;

    > * {
        grid-column: 2;

        &.full {
            grid-column: 1 /-1;
        }
    }
}

.trip-list{
    display: grid;
    grid-gap: 5px;
    align-items: flex-end;
    grid-template-columns: repeat(auto-fit, 250px);


    // @include for-mobile-layout {
    //     display: block;
    //         width: auto;
    // }
    // @include for-narrow-layout {
    //     grid-template-columns: repeat(2, 200px);
    // }
    // @include for-normal-layout {
    //     grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    // }
}