.trip-app{
    .trip-main-img{
        height: 500px;
        object-position: center center;
        object-fit: cover;
        width: 100%;
    }
    .trip-navbar{
        padding: 20px;
        position: sticky;
        margin-bottom: 50px;
        box-shadow: 0 1px 10px 0px;

        .trip-routes{
            flex:1;
            >a{
                margin-inline-start: 30px;
            }
        }
    }
}