
.reviews-page{
    .img-wraper{
        height: 350px;
    }
    h2{
        color:cornflowerblue
    }
    >h2,>p{
        margin: 10px auto;    }
}
.addreview-container{
     width: 100%;
     text-align-last: center;

}

.reviews-btns-container{
justify-content: space-around;
width: 230px;
margin: 0 auto;
}

.review-btns{
width: 100px;
background-color: #8da5e2;
}

.review-list{
    margin-block-start: 0;
    margin-block-end: 0;
    padding: 60px;
    list-style-type: none;
    align-items: flex-start;
    width: 100%;
    >:nth-child(even){
        background-color: rgba(243, 243, 243, 0.678);
        margin: 0;
    }
   > h3{
        margin: 10px;
    }
    .review{
        justify-content: space-between;
        align-items: flex-start;
        height: fit-content;
        width: 100%;
        border-bottom: 1px solid rgb(226, 225, 225);
        padding: 20px;
        font-size: 1rem;
        color: rgb(99, 96, 96);

        

        > p{
            margin: 0;
            text-align-last: left;
            color: rgb(95, 93, 93);
            line-height: 1.3rem;
            overflow-wrap: anywhere;


        }
        .review-details{
        width: 100%;
        align-items: baseline;
        .rating-star{
            :nth-child(5){
                flex: 1;
            }
            height:25px;
            width: 25px;
            margin: 2px
        }
        }

        .expend-description{
            display: block;
            width: fit-content;
            padding: 5px 10px;
        }
    }
}
    
    .review-modal  {
        h2{
        width: 100%;
        position: relative;
        text-align: center;
        margin-top: 0;
        }
        form {
            width: 100%;
            height:100%;
            overflow: hidden;
            background-color: #fff;
            border-radius: 5px;
            padding: 20px;
            text-align: center;
            align-items: center;
            justify-content: space-around;
        }
            select,textarea{        
                padding: 10px;
                width: 50%;
                margin: 10px;
                border-radius: 5px;
                border: 1px solid rgb(231, 231, 231);
                outline: none;
            }
            .close-modal{
                position: absolute;
                top: 0;
                right: 0;
                color: gray;
                padding: 5px 8px;
                border-color: #80808029;
                background-color: #e5e5e5;
                box-shadow: 0px 3px 3px #00000061;
                    :hover{
                        background-color: #b4b4b4;
                        color: white;
                        box-shadow: 1px 9px 7px 0px #c5bdbd;
                    }
        
                }
    }
    
    
  