.trip-list{
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
    justify-content: center;
    padding: 0 30px 30px;
    list-style-type: none;
    grid-gap: 15px;
    width: 100%;

    &.slider{
        grid-template-columns: repeat(auto-fit, 400px);
        padding: 0;

    }

}

.trip-preview {
    font-family: Dosis;
    cursor: pointer;
    display: flex;
    color: rgb(63, 62, 62);
    flex-direction: column;
    justify-content: space-between;
    list-style-type: none;
    height: 100%;
    width: 100%;
    overflow: hidden;
    box-shadow: 1px 4px 7px 1px #00000036;
    letter-spacing: 1.3px;
    .rating-star{
        height:20px;
        width: 20px;
    }

    .trip-preview-details{
        background-color: white;
        padding: 20px;
        font-size: 1.1rem;
        font-weight: bold;
        h3{
            margin-top:0;
            text-transform: uppercase;
            color: #de8630;
        }
        
        *{
            margin-bottom: 10px;
        }  
    }

    &.slider{
        height: 100%;
        width: 100%;
        // box-shadow: 3px 3px 9px 3px #746d6d61, -1px -3px 14px 0px #0000001a ;
        border-radius: 5px;

        .img-wraper{
            height: 300px;
            
        }

    }
    &.details{
        pointer-events: none;
        width: 100%;
        box-shadow: none;
        .trip-preview-details{
            margin: 0 auto;
            text-align: center;
        }
        .img-wraper{
            height: 350px;
        }
    }


    h5,h4{
        margin: 0;
        text-transform: capitalize;
    }
    p{
        margin:0;
        font-size:smaller
    }
    .img-wraper{
        position: relative;
        width: 100%;
        height: 200px;

        >img{
            margin: 0 auto;     
            height: 100%;
            position: relative;
            width: 100%;
            object-fit: cover;
    
        }
    }




    @include for-mobile-layout {
       border: none;
           }
       @include for-narrow-layout {
        // border: 1px solid rgb(226, 225, 225);

       }

}