.trip-preview {
    display: flex;
    color: rgb(63, 62, 62);
    // padding: 10px;
    flex-direction: column;
    justify-content: space-between;
    list-style-type: none;
    height: 300px;
    box-shadow: 1px 4px 7px 1px #00000036;
    // border-radius: 5px;
    letter-spacing: 1px;


    h5,h4{
        margin: 0;
        text-transform: capitalize;
    }
    p{
        margin:0;
        font-size:smaller
    }
    .img-wraper{
        position: relative;
        width: 100%;

        >img{
            margin: 0 auto;     
            height: 180px;
            position: relative;
            width: 100%;
            object-fit: cover;
    
        }
    }

    @include for-mobile-layout {
       border: none;
           }
       @include for-narrow-layout {
        border: 1px solid rgb(226, 225, 225);

       }

}