.trip-app{
    .trip-main-img{
        height: 500px;
        object-position: center center;
        object-fit: cover;
        width: 100%;
    }
    .trip-navbar{
        position: sticky;
        margin-bottom: 50px;
        // box-shadow: 0 7px 5px 0px rgba($color:$clr6, $alpha: 0.3);
        a{
            height:55px;
            display: flex;
            align-items: center;
        }
        >a{
            margin-right: 20px;
        }
        .trip-routes{
            flex:1;
            >a{
                margin-inline-start: 30px;
                padding: 20px;
                &.active{
                    background-color: $clr11;
                    box-shadow: inset 0px -1px 7px -4px darken($clr11, 68%), inset  0px 4px 5px lighten($clr11, 6%);
                }
            }
        }
        .trip-settings{
            position: absolute;
            right: 0;
            top: 60px;
            background-color: $clr6;
            height: 0;
            width: 150px;
            opacity: 0;
            transition: height 0.3s,opacity 0.3s;
            &.open{
                opacity: 1;
                height: 150px;

            }
        }
    }

    .chat-button{
        position: fixed;
        left: 20px;
        bottom: 20px;
        width: 40px;
    }
    .chat-container{
        visibility: hidden;
        height: 0;
        width: 0;
        position:fixed;
        bottom: 40px;
        left: 40px;
        transition: height 0.3s, width 0.3s;
        &.open{
            visibility: visible;
            height: 450px;
            width: 350px;
        }
        .chat-header{
            padding: 20px;
            text-align: center;
            // background-color: $clr6;
            border-bottom: 1px solid $clr11;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }
        ::-webkit-scrollbar {
            width: 12px;
        }
        ::-webkit-scrollbar-track {
            background-color: rgba(255, 255, 255, 0);
            border-radius: 10px;
        }
        ::-webkit-scrollbar-thumb {
            border-radius: 10px;
            background: $clr6;
            }
        .chat-history{
            flex: 1;
            padding: 5%;
            background-color: whitesmoke;
            overflow-y: scroll;
            border-bottom: 1px solid $clr11;
            
            .message-data{
                margin-bottom: 15px;
            }
            .message{
                background-color: $clr1;
                padding: 18px 20px;
                line-height: 26px;
                font-size: 16px;
                border-radius: 7px;
                margin-bottom: 30px;
                width: 90%;
                position: relative;
            }
            .message::after{
                bottom: 100%;
                left: 7%;
                border: solid transparent;
                content: " ";
                height: 0;
                width: 0;
                position: absolute;
                pointer-events: none;
                border-bottom-color: $clr1;
                border-width: 10px;
                margin-left: -10px;
            }
        }
        .chat-send{
            background-color: $clr6;
            input{
                height: 50px;
                border: none;
                flex:1;
                background-color: transparent;
                padding-left: 20px;
                ::placeholder{
                    padding-left: 20px;
                }
            }
            :last-child{
                margin-right: 10px;
                padding: 0;
                background-color: transparent;
                border: none;
            }
        }
    }

}