.user-flow{
width: 1300px;
margin: 0 auto;
justify-content: space-evenly;
align-items: self-end;
>div{
    align-items: center;
    width: 450px;
    margin: 0 10px;
    }
    img{
        width: 90px;
        height: 120px;
        object-fit: contain;
        }
        .flow-headline{
            font-size: rem(20px);
            color:rgb(255, 166, 0) ;
        }
        .flow-content{
            margin: 0 15px;
            color: rgb(82, 82, 82);
        }


}