.trip-assembly-main {
    max-width: 90vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(35);

    .day-list-assembly {
        display: grid;
        background-color: rgb(70, 31, 209);
        grid-template-rows: repeat(35, 1fr);

        > * {
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            box-shadow: -0.5px -0.5px 0 0px black;
            p {
                margin: 0;
                padding: 0;
            }
        }
        .activitie-assembly {
            background-color: red;
            cursor: pointer;
        }
        .literal-day {
            background-color: blueviolet;
        }
    }
}

.destinations-header {
    margin: 0 auto;
    max-width: 90vw;
    background-color: rgb(97, 175, 248);
    box-shadow: -0.5px -0.5px 0 0px black;

    display: grid;
    grid-template-columns: repeat(7, 1fr);
    height: 1.6rem;
    text-align: center;

    * {
        box-shadow: 0.5px 0.5px 0 0px black;

    }
    .dest-name-preview {
        // box-shadow: 0.5px -0.5px 0 0px black;
    }
}
