.home-page{
    h2{
        font-family: Dosis;
        text-transform: uppercase;
        text-align: center;
         margin: 0 auto 30px};

.trips-pagination{
    cursor: pointer;
    position: absolute;
   
    font-size: 2rem;
}
.trips-pagination-forward{
    right: 4%;
    top: 85%;
}

.trips-pagination-backward{
    left: 4%;
    top:  85%;
}
}


.home-page-hero{
    height: 718px;
    background: url(https://cdn.hipwallpaper.com/i/14/16/mQRH5A.jpg);
    object-fit: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position-x: -214px;
    background-position-y: -69px;
    background-position: cente;
    margin-bottom: 30px;
}

.main-home-page{
margin-top: 250px;
}

.slideShow{
    height: 550px;
    width: 100%;
    right: 5%;
    top: 140px;
    margin-bottom:20px ;
}

.swiper-container {
    align-items: center;
    width: 100%;
      padding-top: 10px;
      padding-bottom: 50px;

}
.swiper-slide{
    width: 350px !important;
    margin: 0;
    background: transparent;
    background-position: center;
    background-size: cover;
    height: 450px;

    
    .swiper-slide-prev{
        transform: translate3d(0px, 0px, -100px) rotateX(0deg) rotateY(150deg) scale(0.9);
    }
}

.swiper-slide-next{
    transform: translate3d(0px, 0px, -99px) rotateX(-0.1deg) rotateY(34deg) scale(0.9)
}



.swiper-button-prev::after, .swiper-button-next::after{
    color: rgb(238, 239, 255);
    font-size: 1.5rem;
    padding: 10px;
    border-radius: 100px;
}

.description-section{
    font-family: Patua;
    border-radius: 10px;
    position: absolute;
    width: 577px;
    padding: 0;
    line-height: 5.4rem;
    top: 253px;
    letter-spacing: 1.9px;
    margin: 0 30px;
    color: white;
    
    .styled-button{
        box-shadow: none;
        margin: 0 auto;
        width: 150px;
        padding: 10px;
        
        transition: all 0.3s;
         &:hover{
            font-size: 18px;
            box-shadow: none;
            width: 223px;
            opacity: 1;
            padding: 20px;
         }
    }
    h3{
        margin: 0;
        font-size: 2.8125rem;
        text-shadow: 0px 1px #00000066;

    }
    p{
    font-size: rem(30px);
        font-style: normal;
        color: gray;
        padding-left: 110px;
    }
}