.route-time-line{
    .line{
        border-left: 2px solid $clr12;
        opacity: 0.5;
        height: 70px;
        margin-inline-start: 68px;//may change
    }
    .index-ball{
        height: 50px;
        width: 50px;
        border-radius: 50%;
        margin-right: 20px;
        
    }
    .visi-none{
        visibility: hidden;
    }

    .time-line-area{
        display: flex;
        align-items: center;
        i:nth-of-type(2){
            margin-right: 10px;
        }
    }
    .route-time-line-context{
        min-width: 260px;
       
        div:nth-child(2){
            font-style: italic;
            margin-right: 10px;
        }
        div:nth-child(3){
            overflow-x: visible;
            font-weight: bold;
        }
    }
    // @for $i from 0 through 8 {
    //     .route-time-line-context:nth-child(#{$i})>.index-ball {
    //         background-color:  adjust-hue($clr1, $i*5deg )
    //     }
    // }
    
}