@font-face {
    font-family: Baloo2;
    src: url(../../fonts/BalooTammudu2-Regular.ttf);
}
@font-face {
    font-family: Baloo;
    src: url(../../fonts/Baloo2-Regular.ttf);
}
@font-face {
    font-family: Gayathri;
    src: url(../../fonts/Gayathri-Regular.ttf);
}
@font-face {
    font-family: Dosis;
    src: url(../../fonts/Dosis-VariableFont_wght.ttf);
}
@font-face {
    font-family: ElMessiri;
    src: url(../../fonts/ElMessiri-Medium.ttf);
}
@font-face {
    font-family: Kaushan;
    src: url(../../fonts/KaushanScript-Regular.ttf);
}

@font-face {
    font-family: rye;
    src: url(../../fonts/Rye-Regular.ttf);
}
@font-face {
    font-family: Patua;
    src: url(../../fonts/PatuaOne-Regular.ttf);
}
@font-face {
    font-family: Monoton;
    src: url(../../fonts/Monoton-Regular.ttf);
}
@font-face {
    font-family: Amatic;
    src: url(../../fonts/AmaticSC-Bold.ttf);
}