// Colors
$clr1: #FFCBF2;
$clr2: #F3C4FB;
$clr3: #ECBCFD;
$clr4: #E5B3FE;
$clr5: #E2AFFF;
$clr6: #DEAAFF;
$clr7: #D8BBFF;
$clr8: #D0D1FF;
$clr9: #C8E7FF;
$clr10: #C0FDFF;
$clr11: #fff;
$clr12: rgb(51, 51, 51);


// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;